DB_URL=jdbc:mysql://localhost:3306/my_orders_and_payments_db
DB_USER=user123
DB_PASSWORD=generic_password123

RABBITMQ_USERNAME=username
RABBITMQ_PASSWORD=password

JWT_SECRET_KEY=ThisIsAnExampleOfAJavascriptWebTokenSecretKeyItShouldIdeallyBeReallyLong

SMTP_USERNAME=guest@provider.com
SMTP_PASSWORD=your_mail_password
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bP